* {
  box-sizing: border-box; 
}
body 
  {
  color: gray;
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(28,13,10,.75);
  }

h1 {
  border-bottom: 0px solid black;
  color: salmon;
  font-family:'open sans';
  text-align: center;
}

h2 {
  color: grey;
  font-family: 'open sans';
  text-align: center;
}

h3 {
  color: grey;
  font-family: 'open sans';
  font-size: 200;
  text-align: center;
}

/* .red {
  background: #ef4723;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(239, 71, 35);
  padding:100px 0;
  color: grey;
  font-family: georgia;
  font-size: 200;
  text-align: center;
} 


section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;

.intro {
  height: 90vh;
  background-image: images/photo.gif;
  background: #67b11c (."images/photo.gif") 20px 50% no-repeat;
}

.content {
  display: table-cell;
  vertical-align: middle;
}

*/ 

.chunk{
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    background-color: #373B44;
    height: 100vh;
}

.intro{
	background-color: rgba(28,13,10,.75);
	background-image: url("../images/photo.png"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
}

.date{
	background-color: #373B44;
}

.wedding-details{
	background-color: #373B44;
}

.accomodations{
	background-color: #373B44;
}

.gifts{
	background-color: #373B44;
}

.content{
    display: table-cell;
    vertical-align: middle;
}
